$sidebarWidth: 240px;
.left-side-menu {
    position: absolute;
    left: 0;
    z-index: 2;
    border: 0;
    padding: 35px 12px;
    width: $sidebarWidth;
    i {
        font-size: 16px;
    }
    a {
        padding: 12px $padding-default;
        @extend .font-lg;
        @extend .font-medium;
        @include flex(flex-start, center, 5px);
        &:active{
          border-radius: 8px;
          background-color: $hover-color;
        }
      }
      .accordion-button {
        padding: 14px $padding-default !important;
        @include flex(flex-start, center, 5px);
        border-bottom: none !important;
        @extend .font-medium;
        color: $body-color;
    }
    .accordion-button.collapsed {
        border-bottom: none;
    }
    .accordion-body {
        ul {
            margin-bottom: 0;
            li{
              a{
                padding-top: 4px ;
                padding-bottom: 4px;
                padding-left: 40px;
              }
            }
        }
    }
    .accordion-button:not(.collapsed) {
      box-shadow: inset 0 0px 0 rgba(0,0,0,.125);
  }
}

.dashboard-body{
  margin-left: calc($sidebarWidth + 12px);
}
// .{
//   background-color: $primary;
//   width: 260px;
// }
#sidebar-menu{
  .menuitem-active{
    border-radius: 8px;
    background-color: $hover-color;
    margin: 8px 0;
    .active{
      border-radius: 4px;
      background-color: $hover-color;
    }
  }
  ul{
    li{
      a{
        padding: 12px 16px;
        display: flex;
        align-items: center;
        &:hover{
          background-color: $hover-color;
          border-radius: 8px;
        }
        span{
          font-size: 14px;
          &{
            right: 0;
          }
        }
        .sidebar-icon{
          margin-right: 8px;
          filter: brightness(0) invert(1);
        }
      }
    }
  }
}
.logo-box{
  width: 240px;
  background-color: $primary;
}