.footer {
    .footer-block {
        h3 {
            color: $primary;
            font-size: 22px;
            @extend .font-bold;
            ;
        }
        p {
            @extend .font-light;
            ;
        }
        .quick-links {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }
        a {
            @extend .font-light;
            ;
            padding: 6px 0px;
            display: block;
        }
    }
}

.social-link {
    @include flex(flex-start, center, 10px);
    li {
        a {
            @include rectangle (36px, 36px, 36px);
            @include flex (center, center, 0);
            display: flex !important;
            @extend .font-lg;
            color: $white;
        }
    }
}