.sticky {
    position: sticky;
    &.top-0 {
        top: 0;
    }
    &.top-default{
      top: $padding-default;
    }
    &.bottom-0{
      bottom: 0;
    }

    &.bottom-default{
      bottom: $padding-default;
    }
}