
/* title-tip down */
[data-title]:hover {
  position: relative;
}
[data-title]:hover:before {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 99999;
  content: attr(data-title);
  margin-top: 0.5em;
  overflow: hidden;
  word-wrap: break-word;
  font-size: inherit;
  color: #FFF;
  text-align: center;
  background-color: #000;
  box-sizing: border-box;
  white-space: nowrap;
  padding: 8px 16px;
  border-radius: $primary-border-radius;
  // @extend .font-sm
  font-size: 10px;
  left: -35px;
}
[data-title]:hover:after {
  position: absolute;
  top: 100%;
  left: 50%;
  z-index: 99999;
  content: '';
  margin-left: -0.125em;
  width: 0;
  height: 0;
  border: 0.25em dashed transparent;
  border-bottom: 0.25em solid #222;
  font-size: inherit;
}

/* title-tip-up */
.title-up[data-title]:hover:before {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 0.5em;
}
.title-up[data-title]:hover:after {
  top: auto;
  bottom: 100%;
  border: 0.25em dashed transparent;
  border-top: 0.25em solid #222;
}

/* title-tip-right */
.title-right[data-title]:hover:before {
  top: auto;
  left: 100%;
  margin-top: 0;
  margin-left: 0.5em;
}
.title-right[data-title]:hover:after {
  top: 50%;
  left: 100%;
  margin-left: 0;
  margin-top: -0.125em;
  border: 0.25em dashed transparent;
  border-right: 0.25em solid #222;
}

/* title-tip-left */
.title-left[data-title]:hover:before {
  top: auto;
  left: auto;
  right: 100%;
  margin-top: 0;
  margin-right: 0.5em;
}
.title-left[data-title]:hover:after {
  top: 50%;
  left: auto;
  right: 100%;
  margin-left: 0;
  margin-top: -0.125em;
  border: 0.25em dashed transparent;
  border-left: 0.25em solid #222;
}